
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="container  ">
    
        <fieldset>
            <legend></legend>
            <div class="col-md-8">
                <!-- Form Name -->
               

                <!-- Search input-->
                <div class="form-group col-lg-12">
                    <label class="col-md-1" for="DNI">DNI</label>
                    <div class="col-md-9">
                        <input id="DNI" name="DNI" type="search" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group col-lg-12">
                    <label class="col-md-12 control-label" for="Historia">Historia</label>

                </div>

                <!-- Text input-->
                <div class="form-group col-lg-12">
                    <label class="col-md-12 control-label" for="Paciente">Paciente</label>

                </div>
            </div>
            <div class="col-md-4">
                    <!-- Text input-->
                    <div class="form-group col-lg-12">
                        <label class="col-md-12 control-label" for="GradoInstruccion">Grado de Instruccion</label>

                    </div>

                    <!-- Text input-->
                    <div class="form-group col-lg-12">
                        <label class="col-md-12 control-label" for="Ocupacion">Ocupacion</label>

                    </div>
                    <!-- Text input-->
                    <div class="form-group col-lg-12">
                        <label class="col-md-12 control-label" for="Area">Area</label>

                    </div>

            </div>
</fieldset>
      
</div>
<div class="container  ">

    <fieldset>
        <legend></legend>
        <div class="col-md-8">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="Direccion">Direccion</label>

            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="Telefono">Telefono</label>

            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="FechaNacimiento">Fecha de nacimiento</label>

            </div>
        </div>
        <div class="col-md-4">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-12 control-label" for="LugarNacimiento">Lugar de nacimiento</label>

            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-6 control-label" for="Sexo">Sexo</label>

            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-6 control-label" for="EstadoCivil">Estado civil</label>

            </div>

        </div>
    </fieldset>

</div>

<div class="container  ">
   
        <fieldset>

            <!-- Form Name -->
            <legend></legend>

            <!-- Search input-->
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label" for="Empresa">Empresa</label>
                <div class="col-md-10">
                    <input id="Empresa" name="Empresa" type="search" placeholder="" class="form-control input-lg">

                </div>
            </div>

            <!-- Search input-->
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label" for="Perfil/Examen">Perfil/Examen</label>
                <div class="col-md-10">
                    <input id="Perfil/Examen" name="Perfil/Examen" type="search" placeholder="" class="form-control input-lg">

                </div>
            </div>

            <!-- Search input-->
            <div class="form-group col-md-12">
                <label class="col-md-2 control-label" for="Medico">Medico</label>
                <div class="col-md-10">
                    <input  id="Medico" name="Medico" type="search" placeholder="" class="form-control input-md">

                </div>
            </div>

      

                <!-- Multiple Radios (inline) -->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label" for="radios">Tipo Examen</label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="Preocupacional" checked="checked">
                            Preocupacional
                        </label>
                        <label class="radio-inline" for="radios-1">
                            <input type="radio" name="radios" id="radios-1" value="Retiro">
                            Retiro
                        </label>
                        <label class="radio-inline" for="radios-2">
                            <input type="radio" name="radios" id="radios-2" value="Periodico">
                            Periodico
                        </label>
                        <label class="radio-inline" for="radios-3">
                            <input type="radio" name="radios" id="radios-3" value="Otros">
                            Otros
                        </label>
                    </div>
                </div>

                <!-- Multiple Radios (inline) -->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label" for="radios">Local</label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios-0">
                            <input type="radio" name="radios" id="radios-0" value="Cantuta" checked="checked">
                            Cantuta
                        </label>
                        <label class="radio-inline" for="radios-1">
                            <input type="radio" name="radios" id="radios-1" value="Dolores">
                            Dolores
                        </label>
                    </div>
                </div>

</fieldset>

</div>



